@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Nunito:wght@300&family=Poppins&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@300&display=swap");

#heading {
  color: bisque;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.my-header {
  margin-bottom: 80px;
}
.cart-icon {
  cursor: pointer;
}
#landing {
  color: aliceblue;
}
#landing > div {
  padding-bottom: 150px;
}

#main {
  font-family: "Poppins", sans-serif;
}
.shopbtn {
  background-color: #e87d36;
  height: 70px;
  width: 300px;
  border-radius: 10px;
  font-size: 30px;
  color: aliceblue;
  transition: all 300ms ease-in-out;
}
.shopbtn:hover {
  background-color: aliceblue;
  color: #e87d36;
}
.makeOrange {
  color: #e87d36;
}

#categoryLinkContainer a {
  text-decoration: none;
}
.categoryLink {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}
.categoryLink:hover {
  cursor: pointer;
  width: 550px;
  height: 400px;
}

@media (max-width: 540px) {
  .categoryLink {
    width: 300px;
    height: 200px;
  }
  .categoryLink:hover {
    width: 350px;
    height: 250px;
  }
}
.categoryLinkDetails {
  width: 250px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoryLinkDetails h3,
p {
  color: black;
}

.categoryLinkDetails:hover {
  cursor: pointer;
  background-color: white;
}

.selected {
  height: 7px;
}
.productItem {
  width: 450px;
  padding: 20px;
  margin: 20px 50px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
  color: #e87d36;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  font-size: 25px;
}

@media (max-width: 540px) {
  .productItem {
    width: 350px;
  }
}
.my-image {
  border: transparent;
  height: 293px;
}
.product-title {
  font-size: 20px;
  font-weight: bold;
  height: 90px;
  margin-bottom: 30px;
}
.single-product-link {
  text-decoration: none;
}
.add-to-cart-btn {
  background-color: #e87d36;
  color: aliceblue;
}
.add-to-cart-btn:hover {
  background-color: #f1680d;
  color: white;
}

.cart-input {
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
}

.cart-input-btn {
  width: 1;
  height: 50px;
  background-color: #f1680d;
  color: white;
  border: 1px solid white;
  outline: none;
}
.cart-input-btn:active {
  background-color: #ce580a;
}

#footer {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
  color: #f0f8ffb3;
}
